@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face{
    font-family:'Montserrat';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 26px;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.signup-page .wrapper > .header{
    background-image:url(http://i.imgur.com/7MlLwwl.jpg);
    background-size: cover;
    background-position: top center;
}


.modal-body-form .input-group{
    padding: 0px 0px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 50px;
}

#signInButton{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
}

#signUpButton{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.social{
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-content .modal-body{
    padding: 0px;
}

.navbar{
    margin-bottom: 0px;
}

.passwordForm{
  margin-top: 0px;
}
